@page
@model ASPNET_CORE_CRUD_APP.Pages.EditClientModel
@{
}
<br>
<h2>Edit Client</h2>
<hr>
<br>
@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @Model.errorMessage
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<form method="POST">
    <div class="form-group">
        <label for="name">Client Name</label>
        <input type="text" class="form-control" id="name" name="name" aria-describedby="client name" placeholder="Enter Client Name" value="@Model.client.Name">
    </div>
    <div class="form-group">
        <label for="email">Client Email</label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="client email" placeholder="Enter Client Email" value="@Model.client.Email">
    </div>
    <div class="form-group">
        <label for="phone">Client Phone</label>
        <input type="text" class="form-control" id="name" name="phone" aria-describedby="client name" placeholder="Enter Client Phone Number" value="@Model.client.Phone">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

    @if (Model.successMessage.Length > 0)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @Model.successMessage
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</form>